body {
    margin: 0;
    font-family: Courier New, Courier, monospace
}
.headermain {
    padding: 100px;
    text-align: center; /* centers the text */
    background: #9212ca /* background color purple */;
    color: floralwhite /* black text color */;
}

.headermain h1 {
    font-size: 40px;
}

.headermain p {
    font-size: 18px;
}