body {
    margin: 0;
    font-family: Verdana, Georgia, Georgia;
    background: lightgray;
}

/*header that appears at the top of each page*/
.header {
    padding: 80px;
    text-align: center;
    background: darkblue;
    color: floralwhite;
}

.header h1 {
    font-size: 40px;
}

.header p {
    color: floralwhite;
    font-size: 18px;
}

/*navbar below header*/
.navbar {
    overflow: hidden;
    background-color: black;
}

/*styling for the links on the navbar*/
.navbar a {
    float: left; /*keeps links side by side*/
    display: block; /*make links block elements*/
    color: floralwhite;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none; /*remove underline*/
}
/*happens when you hover over links*/
.navbar a:hover {
    background-color: darkgray; /*gray background color*/
    color: black; /*black text color*/
}

/*places the text and the image next to each other on a desktop*/
@media only screen and (min-width: 1321px) {

    .aboutmecontainer {
        display: flex;
        text-align: center;
    }

        .aboutmecontainer img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 25px;
        }

        .aboutmecontainer p {
            padding-top: 50px;
            padding-right: 10px;
            padding-left: 10px;
        }
}

h2 {
    color: dodgerblue;
    margin: 15px;
}

h3 {
    color: dodgerblue;
    margin: 15px;
}

p {
    color: black;
    margin: 15px;
}

img {
    margin: 15px;
}

/*footer that appears at the bottom of every page*/
.footer {
    padding: 80px;
    background: black;
    text-align: center;
    color: floralwhite;
}

/*links on the footer*/
.footer a{
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: floralwhite;
}

/*happens when you hover over the links*/
.footer a:hover {
    color: darkgray;
}

/*adds images to all the buttons in project hub*/
.button-webdev {
    background-image: url("/images/web-development.png")
}

.button-appdev {
    background-image: url("/images/SWE.png");
}

.button-gamedev {
    background-image: url("/images/game-development.png");
}

.button-datasci {
    background-image: url("/images/datasci.png");
}

.button-systems {
    background-image: url("/images/sysprogramming.png");
}

.button-mobiledev {
    background-image: url("images/mobiledev.png");
}

.button-devops {
    background-image: url("images/devops.png");
}

.button-cybersec {
    background-image: url("images/csec.png");
}

/*places the buttons properly on a desktop*/
@media only screen and (min-width: 1321px) {
    .buttoncontainer {
        padding-top: 50px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 50px;
        justify-content: center;
        align-content: center;
    }

    .buttoncontainer button {
        width: 100px;
        height: 100px;
        background-color: dodgerblue;
        border: solid;
        border-color: darkgray;
        border-radius: 50%;
        position: relative;
    }

    .button-webdevcontainer button {
        left: 25%;
    }

    .button-appdevcontainer button {
        left: 30%;
    }

    .button-gamedevcontainer button {
        left: 20%;
    }

    .button-datascicontainer button {
        left: 13%;
    }

    .button-systemscontainer button {
        left: 25%;
    }

    .button-mobiledevcontainer button {
        left: 29%
    }

    .button-devopscontainer button {
        left: 22%
    }

    .button-cyberseccontainer button {
        left: 15%;
    }
}

/*places the buttons properly on mobile*/
@media only screen and (max-width: 1320px) {

    .buttoncontainer {
        padding-top: 50px;
        display: grid;
        gap: 50px;
        grid-template-columns: auto auto;
        justify-content: center;
        align-content: center;
    }

        .buttoncontainer button {
            width: 100px;
            height: 100px;
            background-color: dodgerblue;
            border: solid;
            border-color: darkgray;
            border-radius: 50%;
            position: relative;
        }

    .button-webdevcontainer button {
        left: 24%;
    }

    .button-appdevcontainer button {
        left: 27%;
    }

    .button-gamedevcontainer button {
        left: 24%;
    }

    .button-datascicontainer button {
        left: 30%;
    }

    .button-systemscontainer button {
        left: 25%;
    }

    .button-mobiledevcontainer button {
        left: 29%
    }

    .button-devopscontainer button {
        left: 26%
    }

    .button-cyberseccontainer button {
        left: 28%;
    }

}

.buttoncontainer button {
    transition: transform 0.5s ease;
}

/*causes the buttons to get larger and move upwards when hovered over*/
.buttoncontainer button:hover {
    transform: translateY(-25px);
    transform: scale(1.2);
}

.buttoncontainer h4 {
    text-align: center;
}
